*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Helvetica;
}



.product-container{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px auto;
    margin: 100px;
    height: 300px;
    width: 250px;
}

.image-div{
    border: 1px solid;
    height: 200px;
    border-radius: 5px;

    

}

.add-to-cart-div{
  
    display: flex;
    justify-content: center;

}

.buttonAddToCart{
    cursor: pointer;
    display: flex;
    border: 1px solid;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 130px;
   
}


.container{
    width: 200px;
    height: 500px;
    position: relative;
   
    background-color: grey;
    .button{
        padding: 15px 30px;
        position: absolute;
        background-color: red;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%,50%);
    }
}